<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="clientAccountsSection" type="DropboxFS.ClientAccountsSection, DropboxFS"/>
  </configSections  >
  <appSettings>
    <add key="ApplicationKey" value="[YourApplicationKey]"/>
    <add key="ApplicationSecret" value="[YourApplicationSecret]"/>
    <add key="DriveLetter" value="n"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="LogDir" value="logs\" />
    <targets>
      <!-- Text files -->
      <target name="AsyncTextFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target xsi:type="File" fileName="${LogDir}DropboxFS.${shortdate}.log" layout="${longdate} | ${level:uppercase=true:padding=5} | ${message:padding=-140} | ${threadid} | ${callsite} | ${exception:format=tostring}"/>
      </target>
      <!-- Event log -->
      <target name="EventLog" xsi:type="EventLog" layout="${callsite}: ${message} | ${exception:format=tostring}" source="DropboxFS Service" log="DropboxFS" />
      <!-- console for install operations -->
      <target name="ColorConsole" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=5} | ${message} ${exception:format=tostring}"/>

      <!-- Null target, do not remove -->
      <target name="nullLogger" xsi:type="Null"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="nullLogger" />
      <logger name="*" minlevel="Debug" writeTo="AsyncTextFile" />
    </rules>
  </nlog>
  <clientAccountsSection>
    <clientAccounts>
    </clientAccounts>
  </clientAccountsSection>
</configuration>